# Python / Env
__pycache__/
*.py[cod]
venv/
.env/
.venv/
personal/

# Spark outputs
data/processed/
spark-warehouse/
metastore_db/

# Logs / temp
*.log
*.tmp
*.bak
nohup.out

# IDE / OS
.DS_Store
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Models and outputs
# Ignore all models except key reference files
data/models/latest_model/metadata
data/models/latest_model/stages
!data/models/latest_model/metrics.json
!data/models/latest_model/coefficients.csv

# Docs (visual assets)
!docs/**
